/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 3, 2017, 12:13:34 AM
    Author     : U Computers
*/
.buttonGen{

    -fx-background-size: cover;
    -fx-background-color:#ffffff;
    -fx-border-width:3px;
}
.buttonGen:hover{

    -fx-background-size: cover;
    -fx-background-color:#ffffff;
    -fx-border-color:#00BCD4;

}
#backButton{
    -fx-background-color:#ffffff;
    -fx-background-radius: 50%;
    -fx-padding: 0px;
        -fx-background-image: url(images/dashboard/back.png);
      -fx-background-size: cover;

}
#backButton:hover{
    
 
      

}
#cusButton{
    -fx-background-image: url(images/dashboard/Customer.png);


}
#addCusButton{
    -fx-background-image: url(images/dashboard/plusCustomer.png);


}
#searchCusButton{
    -fx-background-image: url(images/dashboard/searchCustomer.png);


}
#venButton{
    -fx-background-image: url(images/dashboard/Vendor.png);
   

}
#addVenButton{
    -fx-background-image: url(images/dashboard/plusVendor.png);
   
}
#searchVenButton{
    -fx-background-image: url(images/dashboard/searchVendor.png);
  

}
#empButton{
    -fx-background-image: url(images/dashboard/Employee.png);


}
#addEmpButton{
    -fx-background-image: url(images/dashboard/plusEmployee.png);


}
#searchEmpButton{
    -fx-background-image: url(images/dashboard/searchEmployee.png);


}
#budButton{
    -fx-background-image: url(images/dashboard/Budget.png);


}
#accButton{
    -fx-background-image: url(images/dashboard/Accounts.png);


}
#repButton{
    -fx-background-image: url(images/dashboard/Reports.png);

}
#comButton{
    -fx-background-image: url(images/dashboard/Commands.png);

}
#winButton{
    -fx-background-image: url(images/dashboard/Windows.png);

}
#helpButton{
    -fx-background-image: url(images/dashboard/Help.png);

}