/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 3, 2017, 3:01:25 PM
    Author     : U Computers
*/
#sidebar{
  
    
      -fx-background-color: #2196F3;
}
.anchorpanes{
    
    -fx-background-color:#ffffff;
}

.textFieldBottom{
    -fx-border:none;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #ffffff #ffffff #BDBDBD  #ffffff;
     -fx-background-color: transparent;
    
    -fx-border-insets: 0 10 1 0;
  
}
.submitButton{
    
    -fx-background-color: #2196F3;
}
.submitButton:hover{

    
  
    -fx-border-color:aquamarine;
    -fx-border-width: 3px;

}
.table1 .column-header {
    -fx-background-color: #2196F3;

}
.table1 .column-header .label{
    -fx-background-color: #2196F3;
    -fx-text-fill: #ffffff;
}